  /*!
 * Start Bootstrap - Agency Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
body {
  overflow-x: hidden;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif; }

.text-muted {
  color: #777; }

p {
  font-size: 14px;
  line-height: 1.75; }

a {
  outline: 0;
  color: #fed136; }
  a:hover, a:focus, a:active, a.active {
    outline: 0; }
  a:hover, a:focus, a:active, a.active {
    color: #fec503; }

.bg-light-gray {
  background-color: #f7f7f7; }

.btn-primary {
  border-color: #fed136;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #000;
  background-color: #fed136; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    border-color: #f6bf01;
    color: #000;
    background-color: #fec503; }

.open .dropdown-toggle.btn-primary {
  border-color: #f6bf01;
  color: #fff;
  background-color: #fec503; }

.btn-primary:active, .btn-primary.active {
  background-image: none; }

.open .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled, .btn-primary[disabled] {
  border-color: #fed136;
  background-color: #fed136; }

fieldset[disabled] .btn-primary {
  border-color: #fed136;
  background-color: #fed136; }

.btn-primary.disabled:hover, .btn-primary[disabled]:hover {
  border-color: #fed136;
  background-color: #fed136; }

fieldset[disabled] .btn-primary:hover {
  border-color: #fed136;
  background-color: #fed136; }

.btn-primary.disabled:focus, .btn-primary[disabled]:focus {
  border-color: #fed136;
  background-color: #fed136; }

fieldset[disabled] .btn-primary:focus {
  border-color: #fed136;
  background-color: #fed136; }

.btn-primary.disabled:active, .btn-primary[disabled]:active {
  border-color: #fed136;
  background-color: #fed136; }

fieldset[disabled] .btn-primary:active {
  border-color: #fed136;
  background-color: #fed136; }

.btn-primary.disabled.active, .btn-primary[disabled].active {
  border-color: #fed136;
  background-color: #fed136; }

fieldset[disabled] .btn-primary.active {
  border-color: #fed136;
  background-color: #fed136; }

.btn-xl {
  padding: 20px 40px;
  border-color: #fed136;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  background-color: #fed136; }
  .btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503; }

.open .dropdown-toggle.btn-xl {
  border-color: #f6bf01;
  color: #fff;
  background-color: #fec503; }

.btn-xl:active, .btn-xl.active {
  background-image: none; }

.open .dropdown-toggle.btn-xl {
  background-image: none; }

.btn-xl.disabled, .btn-xl[disabled] {
  border-color: #fed136;
  background-color: #fed136; }

fieldset[disabled] .btn-xl {
  border-color: #fed136;
  background-color: #fed136; }

.btn-xl.disabled:hover, .btn-xl[disabled]:hover {
  border-color: #fed136;
  background-color: #fed136; }

fieldset[disabled] .btn-xl:hover {
  border-color: #fed136;
  background-color: #fed136; }

.btn-xl.disabled:focus, .btn-xl[disabled]:focus {
  border-color: #fed136;
  background-color: #fed136; }

fieldset[disabled] .btn-xl:focus {
  border-color: #fed136;
  background-color: #fed136; }

.btn-xl.disabled:active, .btn-xl[disabled]:active {
  border-color: #fed136;
  background-color: #fed136; }

fieldset[disabled] .btn-xl:active {
  border-color: #fed136;
  background-color: #fed136; }

.btn-xl.disabled.active, .btn-xl[disabled].active {
  border-color: #fed136;
  background-color: #fed136; }

fieldset[disabled] .btn-xl.active {
  border-color: #fed136;
  background-color: #fed136; }

.btn-xl .badge {
  color: #fed136;
  background-color: #fff; }

.navbar-default {
  border-color: transparent;
  background-color: #222; }
  .navbar-default .navbar-brand {
    color: #fed136; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
      color: #fec503; }
  .navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02); }
  .navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #fed136; }
  .navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff; }
    .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
      outline: 0;
      color: #fed136; }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: #000;
    background-color: #fed136; }
    .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #000;
      background-color: #fec503; }

@media (min-width: 768px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s; }
    .navbar-default .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s; }
    .navbar-default .navbar-nav > .active > a {
      border-radius: 3px; }
    .navbar-default.navbar-shrink {
      padding: 10px 0;
      background-color: #222; }
      .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em; } }

header {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url("../images/header_bg.jpg");
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    text-transform: inherit; }
    header .intro-text .intro-lead-in {
      margin-bottom: 25px;
      font-size: 22px;
      font-style: italic;
      line-height: 22px; }
    header .intro-text .intro-heading {
      margin-bottom: 25px;
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 50px;
      font-weight: 700;
      line-height: 50px; }

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px; }
    header .intro-text .intro-lead-in {
      margin-bottom: 25px;
      font-size: 40px;
      font-style: italic;
      line-height: 40px; }
    header .intro-text .intro-heading {
      margin-bottom: 50px;
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 75px;
      font-weight: 700;
      line-height: 75px; } }

section {
  padding: 100px 0; }
  section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px; }
  section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 400; }

@media (min-width: 768px) {
  section {
    padding: 150px 0; } }

.service-heading {
  margin: 15px 0;
  text-transform: none; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

.timeline {
  position: relative;
  padding: 0;
  list-style: none; }
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1; }
  .timeline > li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px; }
    .timeline > li:before {
      content: " ";
      display: table; }
    .timeline > li:after {
      content: " ";
      display: table;
      clear: both; }
    .timeline > li .timeline-panel {
      float: right;
      position: relative;
      width: 100%;
      padding: 0 20px 0 100px;
      text-align: left; }
      .timeline > li .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0; }
      .timeline > li .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0; }
    .timeline > li .timeline-image {
      z-index: 100;
      position: absolute;
      left: 0;
      width: 80px;
      height: 80px;
      margin-left: 0;
      border: 7px solid #f1f1f1;
      border-radius: 100%;
      text-align: center;
      color: #fff;
      background-color: #fed136; }
      .timeline > li .timeline-image h4 {
        margin-top: 12px;
        font-size: 10px;
        line-height: 14px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 20px 0 100px;
      text-align: left; }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0; }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0; }
    .timeline > li:last-child {
      margin-bottom: 0; }
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; }
    .timeline .timeline-heading h4.subheading {
      text-transform: none; }
  .timeline .timeline-body > p, .timeline .timeline-body > ul {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .timeline:before {
    left: 50%; }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right; }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px; }
    .timeline > li .timeline-image h4 {
      margin-top: 16px;
      font-size: 13px;
      line-height: 18px; }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left; } }

@media (min-width: 992px) {
  .timeline > li .timeline-panel {
    padding: 0 20px 20px; }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px; }
    .timeline > li .timeline-image h4 {
      margin-top: 30px;
      font-size: 18px;
      line-height: 26px; }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px; } }

@media (min-width: 1200px) {
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px; }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px; }
    .timeline > li .timeline-image h4 {
      margin-top: 40px; }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px; } }

aside.clients img {
  margin: 50px auto; }

section#contact {
  background-color: #222;
  background-position: center;
  background-repeat: no-repeat; }
  section#contact .section-heading {
    color: #fff; }
  section#contact .form-group {
    margin-bottom: 25px; }
    section#contact .form-group input.form-control {
      height: auto; }
    section#contact .form-group textarea.form-control {
      height: 70px; }
  section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none; }
  section#contact::-webkit-input-placeholder, section#contact:-moz-placeholder, section#contact::-moz-placeholder, section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb; }
  section#contact .text-danger {
    color: #e74c3c; }

footer {
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px; }
  footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s; }
    ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
      background-color: #fed136; }

.btn:focus, .btn:active, .btn.active, .btn:active:focus {
  outline: 0; }

::-moz-selection, ::selection {
  text-shadow: none;
  background: #fed136; }

img::selection, img::-moz-selection {
  background: 0 0; }

body {
  webkit-tap-highlight-color: #fed136; }


h1{
  color: 'yellow';
}
