@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ml0fts') format("eot"),;
	src:url('../fonts/icomoon.eot?ml0fts#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?ml0fts') format('truetype'),
		url('../fonts/icomoon.woff?ml0fts') format('woff'),
		url('../fonts/icomoon.svg?ml0fts#tech') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-blazar:before {
	content: "\e600";
	color: #fff;
}
.icon-ss:before {
	content: "\e601";
	color: #fed136;
}
.icon-logo:before {
	content: "\e668";
	color: #fed136;
}
.icon-blazar.dark{
	color: #000;
}