//colors
$color_red_approx: #e60000;
$color_neon_carrot_approx: #fed136;
$color_turquoise_blue_approx: #65d0f2;
$color_monsoon_approx: #353535;

//fonts
$font_1: cursive;


body {
  .text-center {
    text-align: center;
  }
  ul {
    list-style: none;
  }
  .black{ color: #000;}
  .white-color{color: #fff;}
  #projects{
    .row{
      .col-md-4{
        min-height: 400px;

        img{
          width: 100%;
          border: 6px solid rgb(254, 209, 54);
        }
        @media (max-width: 992px){
          .description{
            div{
              padding-bottom: 20px;
              margin-bottom: 40px;
              border-bottom: 6px solid rgb(254, 209, 54);
            }
          }
        }
        @media (min-width: 992px){
          .description{

            position: absolute;
            top: 63px;
            background: rgba(0,0,0,0.8);
            color: #fff;
            width: 91%;
            border-left: 6px solid rgb(254, 209, 54);
            border-right: 6px solid rgb(254, 209, 54);
            overflow: hidden;
            transition: all 1s ease-out;
            -moz-transition: all 1s ease-out;
            -webkit-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            max-height: 0;
            p, div{
              padding: 10px;
            }
            p{
              border-top: 6px solid rgb(254, 209, 54);
            }
            div{
              border-bottom: 6px solid rgb(254, 209, 54);
            }
          }
          &:hover{
            .description{


              max-height: 500px;
              transition: all 1s ease-in;
              -moz-transition: all 1s ease-in;
              -webkit-transition: all 1s ease-in;
              -o-transition: all 1s ease-in;
            }
          }
        }
      }
    }
  }
  section{
    padding: 100px 0;
  }
  .bigicon {
    font-size: 35px;
    color: $color_neon_carrot_approx;
  }
  #contact{
    .idea, .join-us{
      background-color: #fff;
      color: #000;
      display: inline-block;
      padding: 15px;
      border-radius: 8px;
    }
    .join-us{
      -webkit-animation-name: football;
      margin-bottom: 40px;
      -webkit-animation-duration: 10s;
      -webkit-transform-origin: 50% 50%;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      width: 150px;
      height: 150px;
      border-radius: 76px;
      padding-top: 25px;
      margin-top: 100px;
      margin-bottom: 0px;
    }
    .idea{
      -webkit-animation-name: greenPulse;
      -webkit-animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
    }
  }
  .contact_us{
    #map-canvas {
      width: 100%;
      height: 400px;
      margin:auto;
      border: 1px solid #333
    }
  }
  .navbar-default .navbar-brand{
    margin-top: -11px;
    .icon-logo{
      font-size: 2em;
    }
    .text{
      display: inline-block;
      line-height: 1px;
      .icon-blazar{
       font-size: 1em;
      }
      .icon-ss{
        font-size: 0.32em;
      }
    }

  }
}
@media (min-width: 768px){
  .navbar-default .navbar-brand {
    margin-top: -35px;
  }
  header{
    .intro-text{
      padding-top: 200px !important;
    }
  }
}
header{
  .icon-logo{
    font-size: 1em;
    margin-bottom: 20px;
  }
  .text{
    .icon-blazar{
     font-size: 0.5em;
    }
    .icon-ss{
      font-size: 0.16em;
      margin-top: 10px;
    }
  }
}
#technologies{
  background: #000;
  color: #fff;
  .we_work{
    display: inline-block;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    margin-right: 64px;
  }
  img{margin:10px;padding:10px;box-shadow: 1px 1px 20px #ccc;}
  .section-heading{
    margin-bottom: 50px;
  }
  .logos{
    .tech{
      font-size: 40px;
      padding: 20px;
      display: inline-block;
      color: #fed136;
    }
  }
}
.box{font-size: 30px;display: inline-block;padding: 10px;box-shadow: 1px 1px 20px #ccc;margin: 10px;}
.row2 .box{font-size:18px;}
.row3 .box{font-size: 15px;}
@-webkit-keyframes football {
  0% { -webkit-transform: scaleY(0.7); }
  5% { -webkit-transform:  translateY(-100px) scaleY(1); }
  10% { -webkit-transform: scaleY(0.8); }
  15% { -webkit-transform:  translateY(-50px) scaleY(1); }
  20% { -webkit-transform: scaleY(0.85); }
  25% { -webkit-transform:  translateY(-25px) scaleY(1); }
  30% { -webkit-transform: scaleY(0.87); }
  35% { -webkit-transform:  translateY(-12px) scaleY(1); }
  20% { -webkit-transform: scaleY(0.9); }
  100% { -webkit-transform: scaleY(1.0); }
}
@-webkit-keyframes greenPulse {
  0% { background-color: #fff; -webkit-box-shadow: 0 0 0px #fff; }
  3% { background-color: #fff; -webkit-box-shadow: 0 0 25px #fff; }
  5% { background-color: #fff; -webkit-box-shadow: 0 0 0px #fff; }
  7% { background-color: #fff; -webkit-box-shadow: 0 0 25px #fff; }
  10% { background-color: #fff; -webkit-box-shadow: 0 0 0px #fff; }
  13% { background-color: #fff; -webkit-box-shadow: 0 0 25px #fff; }
  15% { background-color: #fff; -webkit-box-shadow: 0 0 0px #fff; }
  17% { background-color: #fff; -webkit-box-shadow: 0 0 25px #fff; }
  20% { background-color: #fff; -webkit-box-shadow: 0 0 0px #fff; }
  27% { background-color: #fff; -webkit-box-shadow: 0 0 25px #fff; }
  100% { background-color: #fff; -webkit-box-shadow: 0 0 25px #fff; }
}
#services{
  background: url('../images/servicesbg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-color: #231F20;
  .box1{height: 350px;}
  @media(max-width: 755px){
    .box1{height: auto;}
  }
  .container{
    padding-top:  20px;
    background-color: rgba(254, 209, 54,0.9);
  }
}

.hello{
  color: 'yellow';
}

#reviewmap{
  height: 500px;
  width: 100%;
}