@font-face {
	font-family: 'tech';
	src:url('../fonts/tech.eot?ml0fts') format("eot"),;
	src:url('../fonts/tech.eot?ml0fts#iefix') format('embedded-opentype'),
		url('../fonts/tech.ttf?ml0fts') format('truetype'),
		url('../fonts/tech.woff?ml0fts') format('woff'),
		url('../fonts/tech.svg?ml0fts#tech') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="tech-"], [class*=" tech-"] {
	font-family: 'tech';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tech-payu:before {
	content: "\e904";
}
.tech-maps:before {
	content: "\e900";
}
.tech-paypal:before {
	content: "\e901";
}
.tech-braintree:before {
	content: "\e902";
}
.tech-ccavenue:before {
	content: "\e903";
}
.tech-angular:before {
	content: "\e915";
}
.tech-aws:before {
	content: "\e916";
}
.tech-bootstrap:before {
	content: "\e917";
}
.tech-coffee:before {
	content: "\e918";
}
.tech-css3:before {
	content: "\e919";
}
.tech-dropbox:before {
	content: "\e91a";
}
.tech-fb:before {
	content: "\e91b";
}
.tech-git:before {
	content: "\e91c";
}
.tech-github:before {
	content: "\e91d";
}
.tech-in:before {
	content: "\e91e";
}
.tech-jquery:before {
	content: "\e91f";
}
.tech-less:before {
	content: "\e920";
}
.tech-mysql:before {
	content: "\e921";
}
.tech-nginx:before {
	content: "\e922";
}
.tech-ocean:before {
	content: "\e923";
}
.tech-ruby:before {
	content: "\e924";
}
.tech-sass:before {
	content: "\e925";
}
.tech-sphinx:before {
	content: "\e926";
}
.tech-twilio:before {
	content: "\e927";
}
.tech-twitter:before {
	content: "\e928";
}
.tech-youtube:before {
	content: "\e929";
}
.tech-bitbucket:before {
	content: "\e92a";
}
.tech-elasticsearch:before {
	content: "\e92b";
}
.tech-google_plus:before {
	content: "\e92c";
}
.tech-google-adsense:before {
	content: "\e92d";
}
.tech-google-analytics:before {
	content: "\e92e";
}
.tech-heroku:before {
	content: "\e92f";
}
.tech-html-5:before {
	content: "\e930";
}
.tech-mongo-db:before {
	content: "\e931";
}
.tech-pivotal-tracker:before {
	content: "\e932";
}
.tech-postgres:before {
	content: "\e933";
}
.tech-rails:before {
	content: "\e934";
}
.tech-trello:before {
	content: "\e935";
}

